@import '../components';
@import '../pages';

.main-page {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-page-color);
  overflow: hidden;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--container-scroll-bg);
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--container-scroll);
}
