.playlists-container {
  min-width: 100vw;

  .row-playlists {
    .col-content {
      width: 70%;
      height: 100vh;
    }

    .col-content.playing {
      overflow: hidden scroll;
      height: calc(100vh - 100px); // 100px = player height
    }
  }
}
