.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 98%;
  height: 80px;

  &:hover {
    transition: 0.25s;
    transform: scale(1.01);
  }

  .track-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #efedec;

    .btn-img {
      width: 50px;
      height: 50px;
      object-fit: contain;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .track-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}

.track.dark {
  background-color: #030c1d;

  &:hover {
    background-color: #040e21;
  }
}

.track.light {
  background-color: #56585d;

  &:hover {
    background-color: #3b3d3f;
  }
}
