.track {
  text-align: center;
  width: 98%;
  height: 85px;
  background-color: var(--card-bg-color);
  position: relative;
  color: var(--text);

  &:hover {
    transition: 0.25s;
    transform: scale(1.01);
    background-color: var(--accent);
  }

  .btn-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
  }

  .track-img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .track-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .track-duration {
      position: absolute;
      left: 50%;
    }

    .icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
      position: absolute;
      right: 30px;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }

    .icon.line {
      right: 0;
      bottom: 0;
    }

    .artists-track {
      width: 300px;
      position: absolute;
      left: 70%;

      .artist-track {
        cursor: pointer;

        &:hover {
          transform: scale(1.03);
          transition: 0.25s;
        }
      }
    }
  }
}

.track.line {
  min-width: 300px;
  max-width: 300px;

  .track-info {
    .track-name {
      display: inline-block;
      padding-left: 70%;
      animation-name: scroll-track-name;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .icon {
      bottom: 4px;
      right: 4px;
    }
  }
}

@keyframes scroll-track-name {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(-300px);
  }
}
