.podcast {
  width: 95%;
  height: 270px;
  background-color: var(--card-bg-color);
  position: relative;
  cursor: pointer;

  &:hover {
    transition: 0.25s;
    transform: scale(1.02);
  }

  .podcast-icon {
    width: 180px;
    height: 180px;
    object-fit: contain;
  }

  .description {
    font-size: 14px;
    overflow: hidden auto;
    max-height: 90px;
    height: auto;
  }

  .add-icon,
  .delete-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
    position: absolute;
    right: 8px;
    bottom: 8px;
  }
}
