.podcast {
  width: 95%;
  max-height: 270px;
  min-height: 270px;
  background-color: var(--card-bg-color);
  cursor: pointer;

  &:hover {
    transition: 0.25s;
    transform: scale(1.02);
  }

  .podcast-icon {
    width: 185px;
    height: 185px;
  }

  .description {
    font-size: 14px;
    overflow: hidden auto;
    max-height: 150px;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  .icon {
    background-color: var(--card-bg-color);
    width: 45px;
    height: 45px;
    right: 8px;
    bottom: 8px;
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .podcast {
    max-height: 180px;
    min-height: 180px;

    .podcast-icon {
      width: 140px;
      height: 140px;
    }

    .icon {
      width: 35px;
      height: 35px;
    }
  }
}
