.artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  width: 290px;
  height: 300px;
  background-color: var(--card-bg-color);
  cursor: pointer;

  &:hover {
    background-color: var(--card-bg-hover);
  }

  .title {
    font-size: 18px;
  }

  .artist-icon {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

  .artist-body {
    display: flex;
    justify-content: space-between;
  }
}

.artist.line {
  flex-direction: row;
  height: 80px;
  min-width: 300px;
  max-width: 300px;

  .title {
    font-size: 16px;
  }

  .artist-icon {
    width: 60px;
    height: 60px;
  }
}
