.podcast-catalog {
  .header {
    height: 80px;

    .return-btn {
      border-radius: 6px;
      width: 100px;
      height: 45px;
      background-color: var(--sidebar-color);
      color: var(--text);
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }
  }

  .podcast-info {
    height: 250px;

    .podcast-icon {
      width: 220px;
      height: 220px;
    }

    .podcast-details {
      color: var(--text);

      .description {
        height: 120px;
        overflow: hidden auto;
        font-size: 14px;
      }

      .icon {
        width: 45px;
        height: 45px;
        right: 8px;
        bottom: 8px;
        cursor: pointer;
      }
    }
  }
}

.skeleton-loader {
  &.podcast-icon {
    width: 220px;
    height: 220px;
  }

  &.podcast-description {
    height: 120px;
  }

  &.podcast-name,
  &.podcast-author {
    height: 32px;
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .podcast-catalog {
    .podcast-info {
      height: 200px;

      .podcast-icon {
        width: 180px;
        height: 180px;
      }

      .podcast-details {
        .description {
          height: 80px;
        }

        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  .skeleton-loader {
    &.podcast-icon {
      width: 180px;
      height: 180px;
    }

    &.podcast-description {
      height: 80px;
    }
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .podcast-catalog {
    .header {
      .return-btn {
        width: 60px;
        height: 30px;
        font-size: 14px;
      }
    }

    .podcast-info {
      height: 230px;

      .podcast-icon {
        width: 80px;
        height: 80px;
      }

      .podcast-details {
        .description {
          height: 60px;
        }

        .icon {
          width: 25px;
          height: 25px;
          top: 2px;
          right: 2px;
        }
      }
    }
  }

  .skeleton-loader {
    &.podcast-icon {
      width: 80px;
      height: 80px;
    }

    &.podcast-description {
      height: 60px;
    }
  }
}
