.podcast-catalog {
  .header {
    height: 80px;

    .return-btn {
      border-radius: 6px;
      width: 100px;
      height: 45px;
      background-color: var(--sidebar-color);
      color: var(--text);
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }
  }

  .podcast-info {
    height: 250px;

    .podcast-icon {
      width: 220px;
      height: 220px;
      object-fit: contain;
    }

    .podcast-details {
      position: relative;
      color: var(--text);

      .description {
        height: 120px;
        overflow: hidden auto;
        font-size: 14px;
      }

      .add-icon {
        width: 45px;
        height: 45px;
        object-fit: contain;
        position: absolute;
        right: 24px;
        bottom: 24px;
        cursor: pointer;
      }
    }
  }
}
