.info-field {
  max-width: 450px;
  min-width: 270px;
  width: auto;
  max-height: 32px;
  min-height: 32px;
  background-color: var(--accent);
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 2px;
}

.readonly {
  pointer-events: none;
}

.add {
  color: gray;
  font-style: italic;
}

.changed-text {
  max-height: 32px;
  min-height: 32px;
}
