.episode {
  width: 95%;
  height: 180px;
  background-color: var(--card-bg-color);
  color: var(--text);

  &:hover {
    background-color: var(--accent);
    transform: scale(1.01);
    transition: 0.25s;
  }

  .episode-icon {
    width: 140px;
    height: 140px;
  }

  .episode-body {
    .description {
      max-height: 150px;
      overflow: hidden scroll;
      text-overflow: ellipsis;
      white-space: normal;
      word-wrap: break-word;
      word-break: break-all;
    }

    .detail {
      font-size: 12px;
    }
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .episode {
    height: 160px;

    .episode-icon {
      width: 110px;
      height: 110px;
    }
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .episode {
    height: 90px;

    .episode-icon {
      width: 70px;
      height: 70px;
    }

    .episode-body {
      .small-text {
        font-size: 10px;
      }
    }

    .detail {
      font-size: 8px;
      white-space: nowrap;
    }
  }
}
