.playlist-info {
  position: relative;
  width: 400px;
  color: var(--text);

  .playlist-icon {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      transition: 0.25s;
    }
  }

  .img-input {
    display: none;
  }

  .dlt-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10%;
    padding: 2px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
      transition: 0.25s;
    }
  }
}
