.follow-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
    transition: 0.25s;
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .follow-btn {
    width: 25px;
    height: 25px;
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .follow-btn {
    width: 22px;
    height: 22px;
  }
}
