.chips-container {
  .chip {
    width: 90px;
    height: 40px;
    border-radius: 4px;
    border: 2px var(--sidebar-color) dashed;
    background-color: var(--card-bg-color);
    cursor: pointer;

    &:hover {
      transition: 0.25s;
      transform: scale(1.03);
    }
  }

  .chip.selected {
    border: 2px var(--accent) solid;
    transform: scale(1.03);
  }
}
