.home-container {
  width: 100vw;

  .col-content {
    width: 100vw;
    height: 100vh;
  }

  .nav-player.dark {
    background-color: #040b1b;
  }

  .nav-player.light {
    background-color: #3b3d3f;
  }
}
