.home-container {
  min-width: 100vw;

  .row-home {
    .col-content {
      width: 70%;
      height: 100vh;
      overflow: hidden scroll;

      .title {
        color: var(--text);
      }
    }

    .col-content.playing {
      height: calc(100vh - 80px); // 80px = player height
    }
  }
}
