.album {
  text-align: center;
  width: 300px;
  height: 350px;
  background-color: var(--card-bg-color);
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--accent);
  }

  .title {
    display: inline-block;
    padding-left: 70%;
    font-size: 18px;
    animation: scroll-album-title 6s linear infinite;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .album-icon {
    width: 185px;
    height: 185px;
    object-fit: contain;
  }

  .album-body {
    .artists {
      .artist-album {
        max-width: 130px;
        height: 20px;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          transition: 0.25s;
          transform: scale(1.03);
        }
      }
    }

    .description {
      font-size: 14px;
    }
  }

  &:hover {
    transform: scale(1.03);
    transition: 0.25s;
  }
}

.album.line {
  min-width: 210px;
  max-width: 210px;
  height: 220px;

  .title {
    font-size: 16px;
    padding-left: 0;
  }

  .album-icon {
    height: 140px;
    width: 140px;
  }
}

@keyframes scroll-album-title {
  0% {
    transform: translateX(180px);
  }

  100% {
    transform: translateX(-550px);
  }
}
