.album {
  text-align: center;
  width: 300px;
  height: 350px;
  background-color: var(--card-bg-color);
  cursor: pointer;

  &:hover {
    background-color: var(--card-bg-hover);
  }

  .title {
    font-size: 18px;
  }

  .album-icon {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }

  .album-body {
    .artists {
      .artist-album {
        max-width: 130px;
        height: 20px;
        font-size: 14px;
      }
    }

    .description {
      font-size: 14px;
    }
  }
}

.album.line {
  min-width: 300px;
  max-width: 300px;
  height: 80px;

  .title {
    font-size: 16px;
  }

  .album-icon {
    height: 60px;
    width: 60px;
  }
}
