.custom-alert {
  width: 220px;
  height: 60px;
  border-radius: 16px;
  background-color: white;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  animation: showAndHide 1.5s ease-in-out forwards;
  text-align: center;

  .alert-img {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    object-fit: cover;
    z-index: 4;
    background-size: contain;
  }

  .close-alert-btn {
    font-size: 32px;
    width: 18px;
    height: 18px;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      transition: 0.25s;
    }
  }
}

.success {
  color: #2ecc71;
  border: 4px solid #2ecc71;

  .alert-img {
    background-image: url('https://static-00.iconduck.com/assets.00/success-icon-512x512-qdg1isa0.png');
  }
}

.error {
  color: #c74242;
  border: 4px solid #c74242;

  .alert-img {
    background-image: url('https://www.freeiconspng.com/thumbs/error-icon/error-icon-4.png');
  }
}

.top {
  top: -100px;
  animation: showAndHideFromTop 1.3s ease-in-out forwards;
}

.bottom {
  bottom: -100px;
  animation: showAndHideFromBottom 1.3s ease-in-out forwards;
}

@keyframes showAndHideFromTop {
  0% {
    top: -100px;
  }

  100% {
    top: 24px;
  }
}

@keyframes showAndHideFromBottom {
  0% {
    bottom: -100px;
  }

  100% {
    bottom: 24px;
  }
}
