.create-window {
  width: 600px;
  height: 450px;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  cursor: default;

  .field {
    height: 32px;
    width: 240px;
    border-radius: 4px;
    border: none;
    background-color: var(--sidebar-color);
    color: white;

    &:focus,
    &:active {
      background-color: var(--accent);
      outline: none;
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
    }
  }

  .cancel-btn {
    &:hover {
      animation: shake 2s;
      animation-iteration-count: infinite;
    }
  }

  .confirm-btn {
    &:hover {
      transform: scale(1.08);
      transition: 0.25s;
    }
  }
}
