.playlist {
  text-align: center;
  width: 220px;
  height: 240px;
  background-color: var(--card-bg-color);
  overflow: hidden;
  cursor: pointer;

  .playlist-icon {
    width: 165px;
    height: 165px;
    object-fit: cover;
  }

  &:hover {
    transition: 0.25s;
    transform: scale(1.01);
    background-color: var(--accent);
  }
}

.disabled-playlist {
  filter: grayscale(10%);
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
