.header {
  .header-form {
    .input-wrapper {
      max-width: 420px;
      min-width: 50px;
      width: auto;
      height: 45px;

      .search-input {
        max-width: 420px;
        min-width: 50px;
        width: auto;
        height: 45px;
        border: none;
        background-color: var(--sidebar-color);

        &:focus,
        &:active {
          outline: none;
          box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
        }
      }

      .search-input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
      }

      .clear-input-btn {
        right: 16px;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          transition: 0.25s;
        }
      }
    }
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .header {
    .header-form {
      .input-wrapper {
        height: 30px;

        .search-input {
          height: 30px;
          font-size: 12px;
        }
      }
    }
  }
}
