.header {
  .header-form {
    .search-input {
      width: 420px;
      height: 45px;
      border: none;
      background-color: var(--sidebar-color);

      &:focus,
      &:active {
        outline: none;
        box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}
