@import './components';

.podcasts-container {
  min-width: 100vw;

  .row-podcasts {
    .col-content {
      width: 70%;
      height: 100vh;

      .empty-text {
        color: var(--text);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .col-content.playing {
      overflow: hidden auto;
      height: calc(100vh - 80px); // 80px = player height
    }
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .podcasts-container {
    .row-podcasts {
      .col-content.playing {
        height: calc(100vh - 148px); // 148px = player height
      }
    }
  }
}
