@import './Track';
@import './SideBarMenu';
@import './Login';
@import './Header';
@import './ThemeBtn';
@import './Chips';
@import './Artist';
@import './Album';
@import './PlayList';
@import './PlayListsList';
@import './PlayListTracks';

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: hidden scroll;
  position: relative;
  top: 0;
}

.artist-list,
.albums-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-container.line {
  flex-direction: row;
  width: calc(100% - 32px);
  height: 120px;
  overflow: scroll hidden;
  margin: 0 12px 12px 12px;
  flex-wrap: nowrap;
}

.content-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.content-container::-webkit-scrollbar-track {
  background: var(--container-scroll-bg);
}

.content-container::-webkit-scrollbar-thumb {
  background-color: var(--container-scroll);
}
