.login-container {
  min-width: 100vw;
  background-color: #0d1736;

  .login-content {
    .logo {
      width: 320px;
      height: 320px;
      filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    }

    .logo-text {
      font-size: 24px;
      max-width: 500px;
    }

    .login-btn {
      font-size: 14px;
      width: 140px;
      height: 50px;
      background-image: linear-gradient(144deg, #7340ff, #5b42f3 50%, #0603ad);
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 10px 30px -5px;

      .btn-text {
        background-color: rgb(5, 6, 45);
        padding: 16px 8px;
        border-radius: 6px;
        transition: 300ms;

        &:hover {
          background: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .login-container {
    .login-content {
      .logo {
        width: 270px;
        height: 270px;
      }

      .logo-text {
        font-size: 20px;
      }
    }
  }
}
