.artist-container {
  min-width: 100vw;

  .row-artist {
    .col-content {
      width: 70%;
      height: 100vh;
      overflow: hidden auto;

      .artist-header {
        height: 80px;

        .return-btn {
          border-radius: 6px;
          width: 100px;
          height: 45px;
          background-color: var(--sidebar-color);
          cursor: pointer;

          &:hover {
            transform: scale(1.03);
            transition: 0.25s;
          }
        }
      }

      .artist-info {
        color: var(--text);

        .artist-icon {
          width: 180px;
          height: 180px;
        }

        .details {
          .follow-btn {
            bottom: 0;
            left: 0;
          }
        }
      }

      .empty-data {
        .empty-icon {
          height: 90px;
          width: 90px;
        }
      }

      .white-text {
        color: var(--text);
      }
    }

    .col-content.playing {
      height: calc(100vh - 80px); // 80px = player height
    }
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .artist-container {
    .row-artist {
      .col-content {
        .artist-info {
          .artist-icon {
            width: 140px;
            height: 140px;
          }

          .details {
            .follow-btn {
              bottom: 0;
              left: 90%;
            }
          }
        }
      }
    }
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .artist-container {
    .row-artist {
      .col-content {
        .artist-info {
          .artist-icon {
            width: 100px;
            height: 100px;
          }

          .details {
            .follow-btn {
              left: 65%;
              top: -24px;
            }
          }
        }
      }

      .col-content.playing {
        height: calc(100vh - 148px); // 148px = player height
      }
    }
  }
}
