.playlist-tracks {
  .header {
    height: 80px;

    .return-btn {
      border-radius: 6px;
      width: 100px;
      height: 50px;
      border: 4px solid var(--card-bg-color);
      color: var(--text);
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }
  }

  .playlist-info {
    width: 400px;
    color: var(--text);

    .playlist-icon {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }
  }
}
