.playlist-tracks {
  width: 100%;
  height: 100%;
  justify-content: flex-start;

  .header {
    width: 100%;
    height: 80px;
    align-items: center;

    .return-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      width: 100px;
      height: 50px;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }

    .return-btn.light {
      border: 4px solid #56585d;
    }

    .return-btn.dark {
      border: 4px solid #030c1d;
      color: white;
    }
  }

  .playlist-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;

    .playlist-icon {
      width: 140px;
      height: 140px;
    }
  }

  .playlist-info.dark {
    color: white;
  }
}
