.playlist-tracks {
  .header {
    height: 80px;

    .return-btn {
      border-radius: 6px;
      width: 100px;
      height: 50px;
      border: 4px solid var(--card-bg-color);
      color: var(--text);
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }
  }

  .playlist-info {
    width: 400px;
    color: var(--text);

    .playlist-icon {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }

    .dlt-icon {
      width: 25px;
      height: 25px;
      object-fit: cover;
      background-color: #ffffff;
      border-radius: 10%;
      padding: 2px;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }

    .info-field {
      width: 450px;
      background-color: var(--accent);
      color: #ffffff;
      outline: none;
      border: 2px solid var(--sidebar-color);
      border-radius: 2px;
    }

    .not-own {
      pointer-events: none;
    }
  }
}
