.user-container {
  min-width: 100vw;

  .row-user {
    .col-content {
      width: 70%;
      height: 100vh;
      overflow: hidden scroll;

      .return-btn,
      .logout-btn {
        border-radius: 6px;
        width: 100px;
        height: 45px;
        background-color: var(--sidebar-color);
        cursor: pointer;

        &:hover {
          transform: scale(1.03);
          transition: 0.25s;
        }
      }

      .user-details {
        color: var(--text);

        .user-icon {
          width: 100px;
          height: 100px;
        }
      }
    }

    .col-content.playing {
      height: calc(100vh - 80px); // 80px = player height
    }
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .user-container {
    .row-user {
      .col-content {
        .return-btn {
          width: 60px;
          height: 30px;
          font-size: 14px;
        }

        .logout-btn {
          width: 90px;
          height: 35px;
          font-size: 14px;
        }

        .user-details {
          .user-icon {
            height: 80px;
            width: 80px;
          }
        }
      }

      .col-content.playing {
        height: calc(100vh - 148px); // 148px = player height
      }
    }
  }
}
