.album-container {
  min-width: 100vw;

  .row-album {
    .col-content {
      width: 70%;
      height: 100vh;

      .album-header {
        height: 80px;

        .return-btn {
          border-radius: 6px;
          width: 100px;
          height: 45px;
          background-color: var(--sidebar-color);
          cursor: pointer;

          &:hover {
            transform: scale(1.03);
            transition: 0.25s;
          }
        }
      }

      .album-info {
        color: var(--text);

        .album-icon {
          width: 200px;
          height: 200px;
        }

        .details {
          height: 200px;
          width: 400px;

          .artist-info {
            cursor: pointer;

            .artist-icon {
              width: 40px;
              height: 40px;
            }
          }
        }
      }

      .content-container {
        height: 60%;
      }
    }

    .col-content.playing {
      height: calc(100vh - 80px); // 80px = player height
    }
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .album-container {
    .row-album {
      .col-content {
        .album-info {
          .album-icon {
            height: 180px;
            width: 180px;
          }

          .details {
            height: 250px;
          }
        }
      }
    }
  }
}
