.menu {
  height: 100vh;
  width: 280px;
  background-color: var(--sidebar-color);

  .menu-icon {
    width: 55px;
    height: 55px;
    object-fit: contain;
  }

  .selected-link {
    color: white;
  }

  .sub-link {
    font-size: 14px;
  }
}
