.menu {
  height: 100vh;
  width: 280px;
  background-color: var(--sidebar-color);

  .menu-icon {
    width: 85px;
    height: 85px;
  }

  .link {
    color: var(--link-text);
    cursor: pointer;

    .link-icon {
      width: 30px;
      height: 30px;
    }

    &:hover {
      transition: 0.25s;
      transform: scale(1.03);
    }
  }

  .user {
    bottom: 0;

    .user-img {
      width: 80px;
      height: 80px;
    }
  }

  .user.playing {
    bottom: 80px;
  }

  .sub-link {
    font-size: 14px;
    color: var(--link-text);
  }

  .selected-link {
    background-color: var(--accent);
    border-radius: 6px;
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .menu {
    width: 220px;

    .user {
      bottom: 0;
  
      .user-img {
        width: 50px;
        height: 50px;
      }
    }
  
  }
}

//Mobiles
@media only screen and (max-width: 767px) {
  .menu {
    width: 40px;

    .menu-nav {
      width: 40px;

      .menu-icon {
        width: 40px;
        height: 40px;
      }

      .link {
        min-width: 30px;
        max-width: 30px;
        height: 30px;

        .link-icon {
          min-width: 30px;
          max-width: 30px;
          height: 30px;
        }

        &:hover {
          transform: scale(1);
        }
      }

      .sub-link {
        min-width: 24px;
        max-width: 24px;
        height: 24px;
        font-size: 10px;
      }

      .selected-link {
        border-radius: 4px;
      }
    }

    .user.playing {
      bottom: 148px;
    }

    .user {
      bottom: 0;

      .user-img {
        min-width: 30px;
        max-width: 30px;
        height: 30px;
      }
    }
  }
}
