.menu {
  height: 100vh;
  width: 280px;
  background-color: var(--sidebar-color);

  .menu-icon {
    width: 85px;
    height: 85px;
    object-fit: contain;
  }

  .link {
    color: var(--link-text);
    cursor: pointer;

    .link-icon {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }

    &:hover {
      transition: 0.25s;
      transform: scale(1.03);
    }
  }

  .user {
    bottom: 0;
  }

  .user.playing {
    bottom: 80px;
  }

  .sub-link {
    font-size: 14px;
    color: var(--link-text);
  }

  .selected-link {
    color: white;
    background-color: var(--accent);
    border-radius: 6px;
  }
}

//Tablets
@media only screen and (max-width: 992px) {
  .menu {
    width: 220px;
  }
}
