@import "./root";

html,
body {
  margin: 0;
  padding: 0;
  background-color: #010916;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #1d1f23;
}

body::-webkit-scrollbar-thumb {
  background-color: #081325;
}
