@import './components';

.home-container {
  min-width: 100vw;

  .row-home {
    width: 100vw;

    .col-content {
      height: 100vh;
      overflow: hidden auto;

      .title {
        color: var(--text);
      }
    }

    .col-content.playing {
      height: calc(100vh - 80px); // 80px = player height
    }
  }
}
