.playlist-tracks {
  color: var(--text);

  .header-container {
    height: 80px;

    .header {
      width: 100%;
    }

    .return-btn {
      border-radius: 6px;
      width: 100px;
      height: 45px;
      background-color: var(--sidebar-color);
      color: var(--text);
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
        transition: 0.25s;
      }
    }
  }
}
